@(a: String)
<!DOCTYPE html>
<html>
<head>

</head>
<body>

<div style="background-color:#669900;
    color:white;
    text-align:center;
    font-family:arial;
    font-size:360%;
    padding:1px">
    <p>Nueva opción aprobada.</p>
</div>

<div style="
    font-family:arial;
    font-size:110%;
    color:#293D00;
    padding-left:30px">
    <p>Se ha añadido una nueva opción a un criterio:</p>
</div>

<div style="
    font-family:arial;
    background-color:#F6F9F0;
width:700px;
margin-left:50px;
padding:5px">
    <p style="font-size:150%;
    color:#293D00;
    width:500px;
    padding-left:10px">
        <b>Criterio: </b> <i>Formulación de X cosa...</i>.
    </p>
    <p style="font-size:110%;
color:#293D00;
background-color:#D1E0B2;
width:530px;
padding:10px;
margin-left:80px">
        <b>Opción: </b>No identificó bien la restricción x jgj gk kjgk kj ggkgk.<br>
        <b>Es una penalización?: </b>No.<br>
        <b>Puntaje: </b>0.8
    </p>
</div>

<div style="
    font-family:arial;
font-size:110%;
color:#293D00;
    padding-left:20px;
padding-top:6px">
    <p>Por favor téngalo en cuenta cuando esté calificando la actividad.</p>
</div>

<div style="background-color:#669900;
    color:white;
    clear:both;
    text-align:center;
    font-family:arial;
    font-size:80%;
   padding:5px">
    Un mensaje de Copa Grader
</div>

</body>
</html>