@(message: String)

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Pana A Corporate Business Category Flat Bootstarp Resposive Website Template | Home :: w3layouts</title>
    <link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.versioned("stylesheets/bootstrap.css")"  >
    <link rel="stylesheet" type="text/css" media="all" href= "@routes.Assets.versioned("stylesheets/style.css")" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Pana Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet"  type="text/css" media="screen" href="@routes.Assets.versioned("stylesheets/flexslider.css")"   />
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/stylep.css")">
    <script src="@routes.Assets.versioned("javascripts/jquery.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/move-top.js")"  ></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/easing.js")"  ></script>
    <script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
				});
			});
		</script>
    <script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
</head>
<body>
<!-- header -->
<div id="particles-js">
    <script src="@routes.Assets.versioned("javascripts/particles.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/app.js")"></script>
    <canvas width="1345" height="481" style="width: 100%; height: 100%;"></canvas>
</div>
<div  class="banner">

    <div class="container">
        <div class="head-nav">
            <span class="menu"> </span>
            <ul class="cl-effect-7">
                <li><a href="#home" class="scroll">Home</a></li>
                <li><a href="#about" class="scroll">About</a></li>
                <li><a href="#contact" class="scroll">Contact</a></li>
                <li><a href="#services" class="scroll">Login</a></li>
                <div class="clearfix"> </div>
            </ul>
        </div>
        <!-- script-for-nav -->
        <script>
						$( "span.menu" ).click(function() {
						  $( ".head-nav ul" ).slideToggle(300, function() {
							// Animation complete.
						  });
						});
        </script>
        <!-- script-for-nav -->

        <div class="banner-info">

            <div class="logo">
                <h1><a class="text-logo" href="index.html">COPA GRADER</a></h1>
            </div>
            <div class="down-btn">
                <a href="#contact" class="scroll"><img src="@routes.Assets.versioned("images/down.png")"  class="img-responsive" alt="" height="42" width="42"/></a>
            </div>
        </div>
    </div>

</div>

<!-- advantages -->

<!-- feature -->
<div class="Feature" id="services">
    <div class="container">
        <h2>¡Conoce Copa Grader!</h2>
        <div class="feature-top">
            <div class="col-md-3 service-left">
                <img src="@routes.Assets.versioned("images/4.png")"  class="img-responsive" alt="" />
                <p>with the release Letraset sheets Lorem Ipsum passages containing of Letraset sheets  </p>
            </div>
            <div class="col-md-3 service-left">
                <img src="@routes.Assets.versioned("images/3.png")" class="img-responsive" alt="" />
                <p> Letraset sheets with the release Letraset sheets Lorem Ipsum containing Lorem Ipsum passages</p>
            </div>
            <div class="col-md-3 service-left">
                <img src="@routes.Assets.versioned("images/2.png")" class="img-responsive" alt="" />
                <p>containing Lorem sheets containing Lorem Ipsum passages, and more release Letraset rece</p>
            </div>
            <div class="col-md-3 service-left">
                <img src="@routes.Assets.versioned("images/1.png")" class="img-responsive" alt="" />
                <p>with the release of Letraset sheets Letraset sheets Lorem Ipsum containing containing Lorem</p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="feature-top">
            <div class="col-md-3 service-left">
                <img src="@routes.Assets.versioned("images/5.png")" class="img-responsive" alt="" />
                <p>containing Lorem sheets containing Lorem Ipsum passages, and more release Letraset rece</p>
            </div>
            <div class="col-md-3 service-left">
                <img src="@routes.Assets.versioned("images/6.png")" class="img-responsive" alt="" />
                <p>with the release Letraset sheets Lorem Ipsum passages containing of Letraset sheets  </p>
            </div>
            <div class="col-md-3 service-left">
                <img src="@routes.Assets.versioned("images/7.png")" class="img-responsive" alt="" />
                <p>with the release of Letraset sheets Letraset sheets Lorem Ipsum containing containing Lorem</p>
            </div>
            <div class="col-md-3 service-left">
                <img src="@routes.Assets.versioned("images/8.png")" class="img-responsive" alt="" />
                <p> Letraset sheets with the release Letraset sheets Lorem Ipsum containing Lorem Ipsum passages</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- header -->
<!-- advantages -->
<div class="advantages" id="about">
    <div class="col-md-6 advantages-left">
        <h2>Búscanos en YouTube</h2>
        <li>
            <span>01.</span>
            <div class="adv-top">
                <h4>Lorem Ipsum is that it </h4>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an </p>
            </div>
            <div class="clearfix"> </div>
        </li>
        <li>
            <span>02.</span>
            <div class="adv-top">
                <h4>Lorem Ipsum is that it </h4>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an </p>
            </div>
            <div class="clearfix"> </div>
        </li>
        <li>
            <span>03.</span>
            <div class="adv-top">
                <h4>Lorem Ipsum is that it </h4>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an </p>
            </div>
            <div class="clearfix"> </div>
        </li>
    </div>
    <div class="col-md-6 advantages-right">
    </div>
    <div class="clearfix"> </div>

</div>


<!-- device -->
<!-- our -->
<div class="our">
    <div class="container">
        <h3>Nuestro Equipo</h3>
        <div class="col-md-4 our-left">
            <h4><span>25/</span>March</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and  industry. Lorem Ipsum has been the industry' typesetting</p>
        </div>
        <div class="col-md-4 our-left">
            <h4><span>25/</span>April</h4>
            <p>simply dummy text Lorem Ipsum is  of the and typesetting industry. Lorem Ipsum has been the industry' printing</p>
        </div>
        <div class="col-md-4 our-left">
            <h4><span>25/</span>May</h4>
            <p>printing and typesetting industry. Lorem Ipsum is simply dummy text of the  Lorem Ipsum has been the industry'</p>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- our -->
<!-- newsletter -->
<div class="news">
    <div class="container">
        <h3 style="color:#fffff0">Contáctanos</h3>
        <p> Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing </p>
        <div class="na-m">
            <div class="name">
                <form>
                    <input type="text" placeholder="Enter email id" required="">
                </form>
            </div>
            <div class="button">
                <form>
                    <input type="submit" value="Subscribe">
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<!-- map -->
<!-- footer -->
<div class="footer" id="contact">
    <div class="container">
        <h3>Copa Grader</h3>
        <h6>Una aplicación de uniandinos para uniandinos</h6>

        <p>Universidad de los Andes | Principios de Optimización</p>
    </div>
    <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 0;"></span> <span id="toTopHover" style="opacity: 0;"> </span></a>
</div>
<!-- footer -->
</body>
</html>
