@(message: String)

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Pana A Corporate Business Category Flat Bootstarp Resposive Website Template | Home :: w3layouts</title>
    <link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.versioned("stylesheets/bootstrap.css")"  >
    <link rel="stylesheet" type="text/css" media="all" href= "@routes.Assets.versioned("stylesheets/style.css")" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Pana Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet"  type="text/css" media="screen" href="@routes.Assets.versioned("stylesheets/flexslider.css")"   />
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/stylep.css")">
    <script src="@routes.Assets.versioned("javascripts/jquery.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/move-top.js")"  ></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/easing.js")"  ></script>
    <script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
				});
			});
		</script>
    <script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
</head>
<body>
<!-- header -->
<div id="particles-js">
    <script src="@routes.Assets.versioned("javascripts/particles.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/app.js")"></script>
    <canvas width="1345" height="481" style="width: 100%; height: 100%;"></canvas>
</div>
<div  class="banner">

    <div class="container">
        <div class="head-nav">
            <span class="menu"> </span>
            <ul class="cl-effect-7">
                <li><a href="#home" class="scroll">Home</a></li>
                <li><a href="#about" class="scroll">About</a></li>
                <li><a href="#contact" class="scroll">Contact</a></li>
                <li><a href="#services" class="scroll">Login</a></li>
                <div class="clearfix"> </div>
            </ul>
        </div>
        <!-- script-for-nav -->
        <script>
						$( "span.menu" ).click(function() {
						  $( ".head-nav ul" ).slideToggle(300, function() {
							// Animation complete.
						  });
						});
        </script>
        <!-- script-for-nav -->

        <div class="banner-info">

            <div class="logo">
                <h1><a class="text-logo" href="index.html">COPA GRADER</a></h1>
            </div>
            <div class="down-btn">
                <a href="#contact" class="scroll"><img src="@routes.Assets.versioned("images/down.png")"  class="img-responsive" alt="" height="42" width="42"/></a>
            </div>
        </div>
    </div>

</div>

<!-- advantages -->

<!-- feature -->
<div class="Feature" id="about">
    <div class="container">
        <h2>¡Conoce Copa Grader!</h2>
        <h4>Esta aplicación te permitirá desempeñar tus labores como monitor y asistente de manera fácil y rápida!</h4>
        <div class="feature-top">
            <div class="col-md-3 service-left">
                <img src="@routes.Assets.versioned("images/4.png")"  class="img-responsive" alt="" />
                <p>Podrás montar los criterios de las diferentes actividades del curso y luego editarlos si quieres!  </p>
            </div>
            <div class="col-md-3 service-left">
                <img src="@routes.Assets.versioned("images/3.png")" class="img-responsive" alt="" />
                <p> Se podrá establecer un tiempo máximo para la entrega de las calificaciones por parte de los monitores.</p>
            </div>
            <div class="col-md-3 service-left">
                <img src="@routes.Assets.versioned("images/2.png")" class="img-responsive" alt="" />
                <p>Está diseñada para soportar cualquier curso y sus respectivas actividades y proyectos a calificar.</p>
            </div>
            <div class="col-md-3 service-left">
                <img src="@routes.Assets.versioned("images/1.png")" class="img-responsive" alt="" />
                <p>Se podrán procesar los reclamos de manera fácil y rápida.</p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="feature-top">
            <div class="col-md-3 service-left">
                <img src="@routes.Assets.versioned("images/5.png")" class="img-responsive" alt="" />
                <p>Podrás enviar las calificaciones a los estudiantes por correo automaticamente. </p>
            </div>
            <div class="col-md-3 service-left">
                <img src="@routes.Assets.versioned("images/6.png")" class="img-responsive" alt="" />
                <p>Se podrán calificar las actividades de manera fácil y estandarizada.  </p>
            </div>
            <div class="col-md-3 service-left">
                <img src="@routes.Assets.versioned("images/7.png")" class="img-responsive" alt="" />
                <p>Podrás como monitor proponer nuevos criterios en las actividades.</p>
            </div>
            <div class="col-md-3 service-left">
                <img src="@routes.Assets.versioned("images/8.png")" class="img-responsive" alt="" />
                <p> Podras comunicarte con los asistentes y profesores del curso si tienes dudas a la hora de calificar.</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- header -->
<!-- advantages -->
<div class="advantages" >
    <div class="col-md-6 advantages-left">
        <h2>Búscanos en YouTube</h2>
        <h5 style="font-size: 1.5em; color: #B2B0AF;">En estos videos encontraras diversos tutoriales para que aprendas todo lo que necesitas para manejar Copa Grader. ¡Siguenos!</h5>
        <li>
            <span>01.</span>
            <div class="adv-top">
                <h4>¡Conoce Copa Grader! </h4>
                <p>Este video te mostrará qué es Copa Grader. </p>
                <p><b><a style="color:#C2EBFF; text-decoration: underline;" href="https://www.youtube.com/watch?v=9S-4jMM1gqE" target="_blank">Ver video</a></b></p>
            </div>
            <div class="clearfix"> </div>
        </li>
        <li>
            <span>02.</span>
            <div class="adv-top">
                <h4>Subiendo mi primera actividad </h4>
                <p>Acá aprenderas cómo cargar una nueva actividad para que sea calificada por tus colegas. </p>
                <p><b><a style="color:#C2EBFF; text-decoration: underline;" href="https://www.youtube.com/watch?v=9S-4jMM1gqE" target="_blank">Ver video</a></b></p>
            </div>
            <div class="clearfix"> </div>
        </li>
        <li>
            <span>03.</span>
            <div class="adv-top">
                <h4>Calificando mi primera actividad </h4>
                <p>Este video te mostrará todo lo que debes saber para calificar tu primera actividad. </p>
                <p><b><a style="color:#C2EBFF; text-decoration: underline;" href="https://www.youtube.com/watch?v=9S-4jMM1gqE" target="_blank">Ver video</a></b></p>
            </div>
            <div class="clearfix"> </div>
        </li>
    </div>
    <div class="col-md-6 ">
            <iframe frameborder="2"
                    style="height: 450px;
                    width: 850px;
                    padding:25px"

                    src="http://www.youtube.com/embed/9S-4jMM1gqE">
            </iframe>
    </div>
    <div class="clearfix"> </div>

</div>




<!-- device -->
<!-- our -->




<div class="our">
    <div class="container">
        <h3>Nuestro Equipo</h3>
        <div class="col-md-4 our-left">
            <div id="cf">
               <img  class="bottom" src="@routes.Assets.versioned("images/a1.jpg")" />
               <img  class="top" src="@routes.Assets.versioned("images/a2.jpg")" />
            </div>
        </div>
        <div class="col-md-4 our-left">
            <div id="cf">
                <img  class="bottom" src="@routes.Assets.versioned("images/a1.jpg")" />
                <img  class="top" src="@routes.Assets.versioned("images/a2.jpg")" />
            </div>
        </div>
        <div class="col-md-4 our-left">
            <div id="cf">
                <img  class="bottom" src="@routes.Assets.versioned("images/a1.jpg")" />
                <img  class="top" src="@routes.Assets.versioned("images/a2.jpg")" />
            </div>
         </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- our -->
<!-- newsletter -->
<div class="news" id="contact">
    <div class="container">
        <h3 style="color:#fffff0">Contáctanos</h3>
        <p> Si deseascontactarnos por favor envía tu mensaje llenando todos los campos que se presentan a continuación. </p>




        <div class="na-m">
            @helper.form(action = routes.Application.index2, 'class -> "form-horizontal") {
            <form class="form-horizontal" role="form">

                <div class="form-group">
                    <label style="color:#B2B0AF;" class="control-label col-sm-2" for="email">Tu email:</label>
                    <div class="col-sm-10">
                        <input name="email" type="email" class="form-control" id="email" placeholder="Enter email">
                    </div>
                </div>
                <div class="form-group">
                    <label style="color:#B2B0AF;" class="control-label col-sm-2" for="pwd">Asunto:</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="pwd" placeholder="Enter password">
                    </div>
                </div>
                <div class="form-group">
                    <label style="color:#B2B0AF;" class="control-label col-sm-2" for="pwd">Mensaje:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="6" id="comment" placeholder="Enter password"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="button">
                            <form>
                                <input id="butt" type="submit" value="Enviar">

                            </form>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>

            </form>
            }




        </div>
    </div>
</div>

<!-- map -->
<!-- footer -->
<div class="footer" >
    <div class="container">
        <h3>Copa Grader</h3>
        <h6>Una aplicación de uniandinos para uniandinos</h6>

        <p>Universidad de los Andes | Principios de Optimización</p>
    </div>
    <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 0;"></span> <span id="toTopHover" style="opacity: 0;"> </span></a>
</div>
<!-- footer -->
</body>
</html>
