@(listCourses: List[Course])
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>	
<head>
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<meta name="keywords" content="Kipy Login Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates" />
<link href= "@routes.Assets.versioned("cssLogin/style.css")"   rel='stylesheet' type='text/css' />
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <link href= "@routes.Assets.versioned("cssLogin/stylep.css")"   rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--webfonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,800,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Marvel:400,700' rel='stylesheet' type='text/css'>
<!--//webfonts-->
</head>
<body>
<h1></h1>
	<div class="login-form">
		<h2>Copa Grader Login</h2>
			<div class="form-info">
                    @helper.form(action = routes.Application.enterLogin) {
					<form>
							<input type="text" class="email" placeholder="User" required="" name="user"/>
							<input type="password" class="password" placeholder="Password" required="" name="pwd"/>
                            <div class="styled-select">
                                <h6 >Selecciona tu curso:</h6>

                                <select name="course" class="form-control" >
                                    @for(course <- listCourses) {
                                    <option>@course.getCode(): @course.getName()</option>
                                    }
                                </select>

                            </div>
                            <div   class="radioB">
                                <h6>¿Qué rol tienes?</h6>
                                <label class="radio-inline">
                                    <input   type="radio" name="optradio" checked="true" value="C" >Calificador
                                </label>
                                <label class="radio-inline">
                                    <input  type="radio" name="optradio" value="A">Administrador
                                </label>
                            </div>
							<p><a href="#">¿Olvidaste tu contraseña?</a></p>
						    <ul class="login-buttons">
							<li><input type="submit" value="LOGIN" /></li>
							<li><a href="/" class="hvr-sweep-to-left">VOLVER</a></li>
							<div class="clear"> </div>
						</ul>
					</form>
                }
			</div>
	</div>
</body>
</html>