@(a: String)
<!DOCTYPE html>
<html>
<head>

</head>
<body>

<div style="background-color:#472447;
    color:white;
    text-align:center;
    font-family:arial;
    font-size:360%;
    padding:1px">
    <p>Nueva soliciud de criterio.</p>
</div>

<div style="
    font-family:arial;
font-size:110%;
color:#472447;
    padding-left:30px">
    <p>El calificador <b style="font-style:italic">Daniel Bedoya</b> ha propuesto la siguiente opción:</p>
</div>

<div style="
    font-family:arial;
background-color:#F5F3F5;
width:700px;
margin-left:50px;
padding:5px">
    <p style="font-size:150%;
    color:#472447;
    width:500px;
    padding-left:10px">
        <b>Criterio: </b> <i>Formulación de X cosa.</i>.
    </p>
    <p style="font-size:110%;
color:#472447;
background-color:#E7E0E7;
width:530px;
padding:10px;
margin-left:80px">
        <b>Opción: </b>No identifico bien la restricción x jgj gk kjgk kj ggkgk igukg ugujgkg.<br>
        <b>Es una penalización?: </b>No.
    </p>
</div>

<div style="
    font-family:arial;
font-size:110%;
color:#472447;
    padding-left:30px;
padding-top:6px">
    <p>Ingrese a la sección de nuevas solicitudes en la aplicación Copa Grader para procesar la solicitud.</p>
</div>

<div style="background-color:#472447;
    color:white;
    clear:both;
    text-align:center;
    font-family:arial;
    font-size:80%;
   padding:5px">
    Un mensaje de Copa Grader
</div>

</body>
</html>
