@(a: String)
<!DOCTYPE html>
<html>
<head>

</head>
<body>

<div style="background-color:#5CADFF;
    color:white;
    text-align:center;
    font-family:arial;
    font-size:360%;
    padding:1px">
    <p>Archivo de calificación.</p>
</div>

<div style="
    font-family:arial;
    font-size:110%;
    color:#4079B2;
    padding-left:30px">
    <p>Hola,<br><br>
        se envía adjunto un pdf con la nota de la tarea 3.<br><br>
        Saludos.
    </p>
</div>


<div style="
    font-family:arial;
font-size:110%;
color:#5CADFF;
    padding-left:20px;
padding-top:6px">
    <p><i>Equipo del curso.</i></p>
</div>

<div style="background-color:#5CADFF;
    color:white;
    clear:both;
    text-align:center;
    font-family:arial;
    font-size:80%;
   padding:5px">
    Un mensaje de Copa Grader
</div>

</body>
</html>