@(a: String)
<!DOCTYPE html>
<html>
<head>

</head>
<body>

<div style="background-color:#B8005C;
    color:white;
    text-align:center;
    font-family:arial;
    font-size:360%;
    padding:1px">
    <p>Solicitud rechazada.</p>
</div>

<div style="
    font-family:arial;
    font-size:110%;
    color:#660033;
    padding-left:30px">
    <p>Hola,<br>
        se ha rechazado la solicitud que realizaste para un nuevo criterio.<br>
        Gracias por tu interés! Seguiremos pendientes si tienes una nueva sugerencia.<br><br>
        Saludos.
    </p>
</div>


<div style="
    font-family:arial;
    font-size:110%;
    color:#660033;
    padding-left:20px;
    padding-top:6px">
    <p><i>Equipo de asistentes del curso.</i></p>
</div>

<div style="background-color:#B8005C;
    color:white;
    clear:both;
    text-align:center;
    font-family:arial;
    font-size:80%;
    padding:5px">
    Un mensaje de Copa Grader
</div>

</body>
</html>